body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background-color: white;
    margin: 0px;
}

.section1 {
    padding: 50px;
    padding-top: 0px;
    padding-bottom: 20px;
    background-color: #1F2937;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.header, .hero {
    display: flex;
    margin-top: 0px;
    padding: 15px;
}

.logo, .links, .heroText, .heroImage {
    flex: 1;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.links, .heroMid {
    font-size: 18px;
    color: #E5E7EB;
}

.links {
    display: flex;
}

.link1, .link2, .link3 {
    flex: 1;
    text-align: end;
}

.hero {
    flex: 1 0 auto;
    align-items: center;
}

.heroTop, .heroMid, .heroBot {
    margin: 10px;
}

.heroTop {
    font-size: 48px;
    font-weight: 1000;
}

.heroBot {
    color: white;
    font-size: 18px;
    font-weight: 600;
    background-color: #3882F6;
    width: 120px;
    height: 40px;
    border-radius: 10px;
}

.heroImage {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    height: 200px;
    width: 400px;
}

.section2 {
    padding-top: 20px;
    background-color: white;
    
}


.sec2top{
    display: flex;
}

.sec2title {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    margin: 20px auto 50px;
}

.sec2tiles {
    display: flex;   
    justify-content: space-evenly;
    color: black;
    margin-left: 100px;
    margin-right: 100px;
}

.tile1, .tile2, .tile3, .tile4 {
    border: solid #3882F6;
    border-radius: 20px;
    flex: 1 1 1;
    height: 150px;
    width: 150px;
    
}

