body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: white;
    margin: 0px;
}

.section1 {
    padding: 0px 200px 50px;
    background-color: #1F2937;
    height: auto;
    display: flex;
    flex-direction: column;
    min-height: 500px
}

.header, .hero {
    display: flex;
    margin-top: 10px;
    padding: 15px;
    margin-left: 50px;
    margin-right: 50px;
}

.logo, .links, .heroText, .heroImage {
    flex: 1;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.links, .heroMid {
    font-size: 18px;
    color: #E5E7EB;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link1, .link2, .link3 {
    flex: 1;
    text-align: center;
}

.hero {
    flex: 1 0 auto;
    align-items: center;
}

.heroText {
    padding-right: 50px;
}


.heroTop, .heroMid, .heroBot {
    margin: 10px;
}

.heroTop {
    font-size: 48px;
    font-weight: 1000;
}

.heroBot {
    color: white;
    font-size: 18px;
    font-weight: 600;
    background-color: #3882F6;
    width: auto;
    height: auto;
    padding: 10px 20px;
    border-radius: 10px;
}

.heroImage {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    min-height: 160px;
    min-width: 90px;
}

.section2 {
    padding: 20px 200px 50px;
    background-color: white;
    min-height: 470px
}


.sec2top{
    display: flex;
}

.sec2title {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    margin: 20px auto 50px;
}

.sec2tiles {
    display: flex;   
    justify-content: space-evenly;
    color: black;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}


.tiletop1, .tiletop2, .tiletop3, .tiletop4 {
    border: solid #3882F6;
    border-radius: 20px;
    flex: 1 1 1;
    margin: 20px;
    height: 150px;
    width: 150px;
    
}
.tilebot1, .tilebot2, .tilebot3, .tilebot4 {
    margin: 20px;
    text-align: center;
    color: black;
    font-weight: 600;
    display: flex;
    width: 150px;
}
.section3 {
    padding: 20px 200px 50px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    min-height: 350px
}

.quoteStuff {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    flex: auto;
    padding: 100px 200px;
    text-align: justify;
}

.fakeAuthor {
    display: flex;
    justify-content: end;
    font-style: normal;
    font-weight: bold;
}

.section4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 200px 50px;
    min-height: 300px
}

.callBox {
    background-color: #3882F6;
    flex: 1;
    min-height: 120px;
    max-height: 200px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    border-radius: 10px;
    margin: auto 90px;
}

.callLeft {
    padding: 20px;
}

.callToAction {
    font-size: 24px;
    font-weight: 600;
}

.callToButton {
    align-self: center;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 10px;
}

.section5 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 200px 20px;
    min-height: 50px;
    background-color: #1F2937;
}